.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #f3f4f6; /* Light gray */
    border-radius: 0.5rem;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .imageContainer {
    position: relative;
    height: 250px; /* Fixed height for consistency */
    overflow: hidden;
    background-color: #e5e7eb; /* Placeholder background */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure consistent image sizing */
  }
  
  .topIcons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: opacity 0.6s, transform 0.6s;
    opacity: 0;
    transform: translateX(30px);
  }
  
  .iconButton {
    background-color: white;
    border-radius: 50%;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .iconButton:hover {
    background-color: #f3f4f6;
  }
  
  .addToCartButton {
    position: absolute;
    width: 90%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(30px);
    padding: 10px 20px;
    background-color: white;
    color: #1f2937; /* Dark gray */
    border: none;
    border-radius: 0.375rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.6s, transform 0.6s;
  }
  
  .addToCartButton:hover {
    background-color: #f3f4f6;
  }
  
  .card:hover .topIcons {
    opacity: 1;
    transform: translateX(0);
  }
  
  .card:hover .addToCartButton {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  
  .cardContent {
    padding: 1rem;
    background-color: white;
    /* text-align: center; */
  }
  
  .cardTitle {
    font-size: 1.125rem; /* 18px */
    font-weight: 700;
    color: #1f2937; /* Dark gray */
    margin-bottom: 0.5rem;
  }
  
  .cardDescription {
    font-size: 0.875rem; /* 14px */
    color: #6b7280; /* Gray */
    margin-bottom: 1rem;
  }
  
  .cardPrice {
    font-size: 1rem; /* 16px */
    font-weight: 600;
    color: #1f2937;
  }
  
  .strikeThrough {
    text-decoration: line-through;
    color: #6b7280;
    margin-left: 0.5rem;
  }


  .addedButton {
    background-color: #4caf50; 
    color: white;
    cursor: not-allowed; 
  }
  
  